$light-blue: rgb(171, 230, 238);
$dark-blue: rgb(11, 39, 133);
$light-green: rgb(162, 233, 162);
$light-primary: rgb(236, 247, 253);
$light-grey: rgb(199, 187, 187);

.bubble {
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 10px;
}

.light-grey {
  background: $light-grey;
}

.light-blue {
  background: $light-blue;
}

.light-green {
  background: $light-green;
}

.badge {
  font-size: 12px;
  background: $dark-blue;
  color: $light-primary;
  padding: 0.4em 2em;
  border-radius: 6px;
}

.blur {
  filter: blur(4px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.valid {
  border: 2px solid green !important;
  outline: green;
}
