{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Typo Type{% endblock %}

{% block content %}

<div class="container">
    {% if status %}
        {% if status == "n" %}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                Failed to login...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                Successfully logged in!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endif %}
    <div class="row mt-3">
        <div class="col-3">
            <div id="profile-cont">
                {% if user.is_authenticated %}
                    <h2>Hello {{ user.username }}</h2>
                    {% if user.is_staff %}
                        <div class="badge">Admin</div>
                    {% endif %}
                    
                    <h5 class="mt-2">Your stats:</h5>
                    <div class="row">
                        <div class="col-8">Games played</div>
                        <div class="col-4">20</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Cumulative score</div>
                        <div class="col-4">3982</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Global rank</div>
                        <div class="col-4">1</div>
                    </div>

                    <form action="{% url 'game:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-2">Logout</button>
                    </form>
                {% else %}
                    <form action="{% url 'game:login' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <h2>Login</h2>
                        {{ login_form|crispy }}
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                {% endif %}
            </div>
            <div id="leaderboard">
                <h2>Leaderboard</h2>
                <p>very cool</p>
            </div>
        </div>
        <div class="col-9">
            <h2>Pogu</h2>
        </div>
    </div>
</div>


{% endblock %}