{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Typo Type{% endblock %}

{% block content %}

<div class="container">
    {% if status %}
        {% if status == "n" %}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                Failed to login...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif  status == "nr" %}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                Failed to register...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif  status == "s" %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                Text successfully registered! 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                Successfully logged in!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endif %}
    <div class="row mt-3">
        <div class="col-3">
            <div class="bubble light-blue">
                {% if user.is_authenticated %}
                    <h2>Hello {{ user.username }}</h2>
                    {% if user.is_staff %}
                        <div class="badge">Admin</div>
                    {% endif %}
                    
                    <h5 class="mt-2">Your stats:</h5>
                    <div class="row">
                        <div class="col-8">Games played</div>
                        <div class="col-4">{{ activity_count }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Cumulative score</div>
                        <div class="col-4">{{ cum_score }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Global rank</div>
                        <div class="col-4">{{ rank }}</div>
                    </div>

                    <form action="{% url 'game:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-2">Logout</button>
                    </form>
                {% else %}
                    <h2>Login</h2>
                    <form action="{% url 'game:login' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{ login_form|crispy }}
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                {% endif %}
            </div>

            <div class="bubble light-grey">
                {% if user.is_authenticated %}
                    <h2>Recent Activities</h2>
                    <ul>
                        {% for activity in rec_activities %}
                            <li>Scored bruh</li>
                        {% empty %}
                            <li>You haven't played any game yet</li>
                        {% endfor %}
                        {% comment %} <li>Scored 80 on level 3. <small>January 11, 2021. 08:21</small></li>
                        <li>Scored 73 on level 3. <small>January 10, 2021. 22:02</small></li>
                        <li>Scored 68 on level 3. <small>January 10, 2021. 18:23</small></li> {% endcomment %}
                    </ul>
                {% else %}
                    <h2>Register</h2>
                    <form action="{% url 'game:register' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{ registration_form|crispy }}
                        <button type="submit" class="btn btn-outline-success">Sign up</button>
                    </form>
                {% endif %}
            </div>

            <div class="bubble light-green">
                <h2>Leaderboard</h2>
                <p>very cool</p>
            </div>
        </div>
        <div class="col-9">
            <h2>Typo Type</h2>
            <p>Train to reduce mistakes in your typings.</p>
            <p>Instructions:</p>
            <ul>
                <li>Pick a level. The grade level of sentences is determined using Coleman-Lieau's readability text</li>
                <li>Click the play button to start</li>
                <li>Try to accurately type as much the text as you can within a minute</li>
                <li>Your score will be calculated based on the level of the text and the speed and accuracy of your writings</li>
                <li>Play and earn more score to reach the top spot in the leaderboard</li>
            </ul>
            <hr>
            {% if user.is_staff %}
                <div class="badge">Admin</div>
                <h3>Add new sentences for users to play!</h3>
                <p>Please enter texts with at least 200 characters</p>
                <form action="{% url "game:register_text" %}" method="post">
                    {% csrf_token %}
                    <textarea name="new-sentence" id="new-sentence" class="form-control" rows="4" placeholder="New texts here"></textarea>
                    <p>Characters: <span id="new-char-count">0</span>/200</p>
                    <p>Grade: <span id="new-sentence-level">?</span></p>
                    <input type="hidden" name="new-level-value" id="new-level-value">
                    <button type="submit" id="new-submit" class="btn btn-success" disabled>Register new text</button>
                </form>
                <hr>
            {% endif %}
            <div class="game-container">
                <h3>Pick a level:</h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-sm active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Level 1
                    </label>
                    <label class="btn btn-outline-warning btn-sm">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Level 2
                    </label>
                    <label class="btn btn-outline-dark btn-sm">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Level 3
                    </label>
                </div>
                <h5>Sentence:</h5>
                <div class="blur jumbotron" id="sentence-container">
                    
                </div>
                <p>Timer > <span id="timer">01:00</span></p>
                <textarea name="typer" id="typer" class="form-control" rows="4" disabled></textarea>
                <button id="play" class="btn btn-primary mt-3 btn-block">Play</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}